.signin-container {
  display: grid;
  justify-content: center;
  position: relative;
  margin-left: 3.5rem;
}

.form-group {
  position: relative;
  width: 20rem;
  min-height: 60vh;
  max-height: 80vh;
  padding: 4rem;
  margin-bottom: 3rem;
  border-radius: 0.6rem;
}

input {
  padding: 0.9rem 3rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid grey;
}
.heading {
  margin-left: 0.2rem;
  margin-bottom: 2rem;
}

.logo-container {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
h4 {
  margin-top: 2rem;
  margin-left: 4rem;
  font-weight: 400;
  font-size: 1.2rem;
}
