.navbar {
  display: flex;
  justify-content: space-between;
  background: #041e42;
  color: #ffffff;
  padding: 1rem 1rem;
  width: 100%;
}

.searchbar {
  padding: 0.4rem 15rem;
  border-radius: 1rem;
}
.nav-menu a {
  color: #ffffff;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}
/* .logo {
  justify-content: space-between;
} */
